@import url('http://fonts.googleapis.com/css?family=Raleway');
@import url('http://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('http://fonts.googleapis.com/css?family=Lobster');
/* line 16, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
body {
  background-color: #FFF;
  font-family: "Open Sans", serif;
  line-height: 2em; }

/* line 22, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
h1 {
  font-family: "Raleway";
  font-size: 4em;
  text-align: center;
  line-height: 5em; }

/* line 29, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
h2 {
  font-family: "Raleway";
  font-size: 2em;
  text-align: center;
  line-height: 2.5em; }

/* line 36, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
p {
  font-family: "Raleway";
  font-size: 1.25em; }

/* line 42, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
nav {
  background-color: #386075;
  font-family: "Raleway"; }
  /* line 46, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  nav .navbar-header {
    height: 5em; }
  /* line 49, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  nav .navbar-brand {
    padding-top: 0;
    display: block; }
    /* line 52, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    nav .navbar-brand a {
      color: #F2F2F2;
      line-height: 5em;
      height: 5em;
      padding-top: 0; }
      /* line 57, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
      nav .navbar-brand a:hover, nav .navbar-brand a:focus {
        color: black;
        background-color: #386075;
        text-decoration: none; }
  /* line 65, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  nav .navbar-nav a {
    color: #F2F2F2;
    line-height: 5em;
    height: 5em;
    padding-top: 0;
    font-size: 1.25em; }
    /* line 71, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    nav .navbar-nav a:hover, nav .navbar-nav a:focus {
      color: black;
      background-color: #386075; }
  /* line 77, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  nav .navbar-left {
    float: left; }
  /* line 80, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  nav .navbar-right {
    float: right; }

/* line 85, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.headerwrap {
  background: url("/img/header.jpg") center;
  background-size: 100%; }

/* line 92, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.redwrap {
  background-color: #386075;
  line-height: 5em; }

/* line 97, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.wrap1 {
  background-color: #F2F2F2;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  border-color: #D5D5D5;
  height: 100%; }
  /* line 105, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .wrap1 .wrap2 {
    background-color: #FFF; }
  /* line 108, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .wrap1 .footerwrap {
    background-color: #386075;
    text-align: center; }
    /* line 111, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .wrap1 .footerwrap p {
      color: #F2F2F2; }
    /* line 114, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .wrap1 .footerwrap a {
      color: #F2F2F2;
      text-underline-position: below; }

/* line 121, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.auth-form {
  width: 400px;
  margin: 60px auto;
  padding-top: 60px;
  padding-bottom: 60px; }
  /* line 128, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .auth-form .auth-form-header {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #386075;
    border: 1px solid #D5D5D5;
    border-radius: 3px 3px 0 0; }
    /* line 137, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .auth-form .auth-form-header h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px; }

/* line 145, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.auth-form-body {
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-top: 0;
  border-radius: 0 0 3px 3px; }
  /* line 152, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .auth-form-body label {
    font-size: 13px;
    font-weight: bold;
    font-family: "Raleway"; }
  /* line 157, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .auth-form-body input {
    font-family: "Raleway";
    font-size: 13px; }

/* line 163, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  font-family: "Raleway"; }

/* line 187, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.img {
  display: block;
  max-height: inherit;
  max-width: inherit;
  margin: auto; }

/* line 194, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
.selection {
  padding-top: 8em; }
  /* line 196, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .selection .panel-primary {
    font-family: "Raleway";
    border-color: #386075; }
    /* line 199, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .selection .panel-primary .panel-heading {
      background-color: #386075; }
    /* line 202, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .selection .panel-primary .panel-body {
      background-color: #F2F2F2;
      font-weight: bolder; }
    /* line 206, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .selection .panel-primary .form-group {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 0.75em; }
    /* line 214, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .selection .panel-primary p {
      color: black;
      font-size: 1em;
      opacity: 0.6; }
  /* line 220, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .selection .seller-profile {
    max-height: 100%;
    height: 100%;
    background-color: black; }
    /* line 224, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
    .selection .seller-profile p {
      color: beige;
      opacity: 0.6; }
  /* line 229, /Users/abdulkhan/Work/Dev/poros/coastline-frontend/css/styles.scss */
  .selection .body {
    min-height: 100%; }

/*# sourceMappingURL=styles.css.map */