<div ng-controller="SideNavCtrl" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><h1>Navigation:</h1></li>
        <li><a ng-click="setView('home')" href="javascript:void(0)" >Home</a></li>
        <li><a ng-click="setView('products')" href="javascript:void(0)" >Products</a></li>
        <li><a ng-click="setView('supply-chain')" href="javascript:void(0)" >Supply Chain</a></li>
        <li><a ng-click="setView('inventory')" href="javascript:void(0)" >Track Inventory</a></li>
        <li><a ng-click="setView('orders')" href="javascript:void(0)" >Manage Orders</a></li>
        <li><a ng-click="setView('e-commerce')" href="javascript:void(0)" >E-commerce Settings</a></li>
    </ul>
</div>