<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header light-text">Supply Chains</h2>
    <div class="row placeholders">
        <div class="col-lg-8">
            <div class="container">
                <div class="panel-container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button ng-click="createNewSupplyChain()" class="btn-dashboard">Create Supply Chain</button>
                        </div>
                    </div>
                </div>
                <div class="panel-container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Date Created</th>
                                                <th>Last Updated</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="supplyChain in supplyChains track by $index">
                                                <td>{{$index + 1}}</td>
                                                <td>{{supplyChain.name}}</td>
                                                <td>{{supplyChain.dateCreated}}</td>
                                                <td><button ng-click="editSupplyChain(supplyChain)" class="btn btn-default">View/Edit</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
