<div class="container-fluid">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <div class="navbar-brand" href="#">
          <a href="/">Coastline</a>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left" role="search">
          <li><a href="#about">About</a>
          </li>
          <li><a href="#getting-started">Getting Started</a>
          </li>
          <li><a href="pricing">Pricing</a>
          </li>
          <li><a href="contact">Contact Us</a>
          </li>
        </ul>

        <!-- Brand and toggle get grouped for better mobile display -->

        <ul class="nav navbar-nav navbar-right">

          <li><a href="signUp.html">Sign Up</a>
          </li>

          <li><a href="login.html">Login</a>
          </li>

        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>

<!--
    <div class="container-fluid redwrap">
    <div class="container">
        <div class="row">
            </br>
        </div>
    </div>
</div>
-->



<div class="container-fluid wrap2">
  <div class="container">
    <div class="auth-form">
      <form role="form">
        <div class="auth-form-header">
          <h2>Sign Up</h2>
        </div>

        <div class="auth-form-body">
          <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="firstname" class="form-control" id="firstname" placeholder="John">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="lastname" class="form-control" id="lastname" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="john.doe@example.com">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="password">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Comfirm password">
          </div>

          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!--
    <div class="container-fluid footerwrap">
    <div class="container">
        <div class="row">
            </br>
            <p>Made with <span class="glyphicon glyphicon-heart"></span> at <a href="http://www.poros.me">Poros</a>
            </p>
            </br>
        </div>
    </div>
</div>
-->
