<link rel="stylesheet" href="../../css/basestyles.css" type="text/css">
<link rel="stylesheet" href="../../css/landingstyles.css" type="text/css">

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <div class="navbar-brand">
          <a ui-sref="home">Coastline</a>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left" role="search">
          <li><a href="#about">About</a>
          </li>
          <li><a href="#getting-started">Getting Started</a>
          </li>
          <li><a href="pricing">Pricing</a>
          </li>
          <li><a href="contact">Contact Us</a>
          </li>
        </ul>

        <!-- Brand and toggle get grouped for better mobile display -->

        <ul class="nav navbar-nav navbar-right">


          <li><a ui-sref="login">Login</a>
          </li>
          <li><a ui-sref="signUp">Sign Up</a>
          </li>

        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>




<div class="container-fluid headerwrap">
  <div class="container">
    <div class="row">
      <br>
      <br>
      <br>
      <h1>Introducing Coastline.</h1>
      <h2>A simple solution to streamline the process of acquiring seafood for your business.</h2>
      </br>
      <br>
      </br>
      </br>
    </div>
  </div>
</div>

<div class="container-fluid wrap1">
  <div class="container">
    <div class="row">
      <h1>Introducing Coastline.</h1>
      <h2>A simple solution to streamline the process of acquiring seafood for your business.</h2>
      </br>
      </br>
      </br>
    </div>
  </div>
</div>

<div class="container-fluid wrap2">
  <div class="container">
    <div class="row">
      <h1>Introducing Coastline.</h1>
      <h2>A simple solution to streamline the process of acquiring seafood for your business.</h2>
      </br>
      </br>
      </br>
    </div>
  </div>
</div>

<div class="container-fluid wrap1">
  <div class="container">
    <div class="row">
      <h1>Introducing Coastline.</h1>
      <h2>A simple solution to streamline the process of acquiring seafood for your business.</h2>
      </br>
      </br>
      </br>
    </div>
  </div>
</div>

<div class="container-fluid footerwrap">
  <div class="container">
    <div class="row">
      </br>
      <p>Made with <span class="glyphicon glyphicon-heart"></span> at <a href="http://www.poros.me">Poros</a>
      </p>
      </br>
    </div>
  </div>
</div>