<div ng-controller="transactionDetailCtrl" id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>
        Order #{{getRef(order)}}
        <a href="invoiceFull.html"><i class="fa fa-external-link"></i></a>
      </h1>
      <br>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default height">
        <div class="panel-heading">Customer</div>
        <div class="panel-body">
          <strong>Adress:</strong> 16737 84Ave
          <br>
          <strong>Details:</strong> Delivery
          <br>
          <strong>More:</strong>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default height">
        <div class="panel-heading">Payment Information</div>
        <div class="panel-body">
          <strong>Card Name:</strong> Visa
          <br>
          <strong>Card Number:</strong> ***** 332
          <br>
          <strong>Exp Date:</strong> 09/2020
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-default height">
        <div class="panel-heading">To: Client Name</div>
        <div class="panel-body">
          <strong>Bank Name:</strong>
          <br>
          <strong>Account Number : --------</strong>
          <br>
          <strong>IBAN : --------</strong>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="panel panel-default height">
        <div class="panel-heading">Bank Details</div>
        <div class="panel-body">
          <strong>Card Name:</strong> Visa
          <br>
          <strong>Card Number:</strong> ***** 332
          <br>
          <strong>Exp Date:</strong> 09/2020
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="panel panel-default height">
        <div class="panel-heading">Contact Details</div>
        <div class="panel-body">
          <strong>Email:</strong> you@example.com
          <br>
          <strong>Phoe Number:</strong> 134-132-1234
          <br>
          <strong>Payment Method:</strong> VISA
          <br>
        </div>
      </div>
    </div>


  </div>

  <!-- / end client details section -->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">
            <strong>Order summary</strong>
          </h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td>
                    <strong>Product</strong>
                  </td>
                  <td class="text-center">
                    <strong>Quantity</strong>
                  </td>
                  <td class="text-center">
                    <strong>Unit Price</strong>
                  </td>
                  <td class="text-right">
                    <strong>Total</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in order.products">
                  <td>Atlantic Cod{{product.name}}</td>
                  <td class="text-right">{{product.quantity + " " + product.units}}</td>
                  <td class="text-right">{{product.unitPrice}}/{{product.units}}</td>
                  <td class="text-right">{{product.quantity * product.unitPrice}}</td>
                </tr>

                <tr>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <td class="highrow text-center">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="highrow text-right">$0.00</td>
                </tr>
                <tr>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow text-center">
                    <strong>Shipping</strong>
                  </td>
                  <td class="emptyrow text-right">$0.00</td>
                </tr>
                <tr>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow text-center">
                    <strong>Total</strong>
                  </td>
                  <td class="emptyrow text-right">$0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
