<div ng-controller="orderDetailCtrl" id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>
        Order #{{getRef(order)}}
        <a href="invoiceFull.html"><i class="fa fa-external-link"></i></a>
        <span class="pull-right"><button type="button" class="btn btn-danger" ng-click='goBackToOrders()'>Back to Orders</button></span>
      </h1>
      <br>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="panel panel-default height">
        <div class="panel-heading">
          <h4 class="text-center">
            <strong>Customer Details</strong>
          </h4>
        </div>
        <div class="panel-body">
          <strong>{{order.buyerName}}</strong>
          <br>
          {{order.buyerAddress}}
          <br>
          {{order.buyerCity}}, {{order.buyerState}}
          <br>
          {{order.buyerCountry}}, {{order.buyerPostalCode}}
          <br><br>
          {{order.buyerPhoneNumber}}
          <br>
          {{order.buyerEmail}}



        </div>
      </div>
    </div>



  </div>

  <!-- / end client details section -->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-center">
            <strong>Order Summary</strong>
          </h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td class="text-center">
                    <strong>Product</strong>
                  </td>
                  <td class="text-center">
                    <strong>Quantity</strong>
                  </td>
                  <td class="text-center">
                    <strong>Unit Price</strong>
                  </td>
                  <td class="text-center">
                    <strong>Subtotal</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in order.products">
                  <td class="text-center">{{product.name}}</td>
                  <td class="text-center">{{product.unitPrice}}/{{product.units}}</td>
                  <td class="text-center">{{product.quantity + " " + product.units}}</td>
                  <td class="text-center">{{product.quantity * product.unitPrice}}</td>
                </tr>

                <!-- <tr>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <td class="highrow text-center">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="highrow text-right">$0.00</td>
                </tr>
                <tr>
                  <td class="emptyrow"></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow text-center">
                    <strong>Shipping</strong>
                  </td>
                  <td class="emptyrow text-right">$0.00</td>
                </tr> -->
                <tr>
                  <td class="emptyrow text-center"><strong>Total</strong></td>
                  <td class="emptyrow"></td>
                  <td class="emptyrow">

                  </td>
                  <td class="emptyrow text-center">{{getTotalAmount(order)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
