<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header light-text">Home</h2>
  <div class="row placeholders">
    <div class="col-lg-8">
      <div class="container">
        <div class="panel-container">
          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                          <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <div>Recent Orders</div>
                          <div ng-show="order in orders" class="huge">18</div>
                        </div>
                      </div>
                    </div>
                    <a href="javascript:void(0)" ng-click="">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>



                <div class="col-lg-4 col-md-6">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                          <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <div>Your Seafood Products</div>
                          <div ng-show="product in products" class="huge">132</div>
                        </div>
                      </div>
                    </div>
                    <a href="javascript:void(0)" ng-click="products">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="panel panel-green">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                          <i class="fa fa-link fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <div>Products in Value Chain</div>
                          <div ng-show="product in products" class="huge">56</div>
                        </div>
                      </div>
                    </div>
                    <a href="javascript:void(0)" ng-click="setSelection(3)">
                      <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>


                <div class="panel-heading">
                  <h3>Completed Transactions</h3>
                  <hr class = "short">
                </div>


                <div class="panel-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Invoice #</th>
                          <th>Payment Method</th>
                          <th>Status</th>
                          <th>Date (MM/DD/YYYY)</th>
                          <th>Total Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,012</td>
                          <td>Credit Card</td>
                          <td>Outstanding</td>
                          <td>1/13/2016</td>
                          <td>$67.99</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,011</td>
                          <td>Credit Card</td>
                          <td>Completed</td>
                          <td>1/12/2016</td>
                          <td>$125.15</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,010</td>
                          <td>Subscription Pickup</td>
                          <td>Completed</td>
                          <td>1/12/2016</td>
                          <td>N/A</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,009</td>
                          <td>Credit Card</td>
                          <td>Outstanding</td>
                          <td>1/12/2016</td>
                          <td>$225.59</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,008</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/12/2016</td>
                          <td>$416.25</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,007</td>
                          <td>Credit Card</td>
                          <td>Completed</td>
                          <td>1/12/2016</td>
                          <td>$27.35</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,006</td>
                          <td>Subscription Pickup</td>
                          <td>Completed</td>
                          <td>1/12/2016</td>
                          <td>N/A</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,005</td>
                          <td>Credit Card</td>
                          <td>Outstanding</td>
                          <td>1/11/2016</td>
                          <td>$144.43</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,004</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/11/2016</td>
                          <td>$25.94</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,003</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/11/2016</td>
                          <td>$364.99</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,002</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/11/2016</td>
                          <td>$364.99</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,001</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/11/2016</td>
                          <td>$364.99</td>
                        </tr>
                        <tr>
                          <td><input type ="checkbox"></td>
                          <td>1,000</td>
                          <td>Paypal</td>
                          <td>Completed</td>
                          <td>1/11/2016</td>
                          <td>$364.99</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
