<div ng-controller="TrackInventoryDisplayCtrl">
    <div ng-switch on="getView()">
        <div ng-switch-default>
            <div ng-include src="'views/dashboard/body-includes/track-inventory-subviews/menu.html'"></div>
        </div>
        <div ng-switch-when="supply-chain">
            <div ng-include src="'views/dashboard/body-includes/track-inventory-subviews/track.html'"></div>
        </div>
        <!-- <div ng-switch-when="builder"> -->
            <!-- <div ng-include src="'views/dashboard/body-includes/track-inventory-subviews/builder.html'"></div> -->
        <!-- </div> -->
    </div>
</div>
