<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Invoice</title>

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="../lib/bootstrap.min.css">

  <!-- From Template -->
  <link href="../lib/metisMenu.min.css" rel="stylesheet">
  <!-- <link href="../lib/morris.css" rel="stylesheet"> -->
  <!-- <link href="../lib/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <script src="https://use.fonticons.com/120696ca.js"></script>

  <script src="../lib/jquery.min.js"></script>
  <script src="../lib/bootstrap.min.js"></script>
  <script src="../lib/metisMenu.min.js"></script>
  <script src="../lib/raphael-min.js"></script>
  <!-- // <script src="../lib/morris.min.js"></script> -->
  <!-- // <script src="../lib/morris-data.js"></script> -->
  <script src="../lib/jquery.dataTables.min.js"></script>
  <script src="../lib/dataTables.bootstrap.min.js"></script>
  <script src="../lib/sb-admin-2.js"></script>


  <!-- JS Libraries -->
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/angular-ui-router.js"></script>
  <script src="../lib/ngStorage.js"></script>
  <script src="../lib/loading-bar.js"></script>

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="css/dashboard-styles.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="css/login-styles.css" type="text/css"> -->

  <link href="css/timeline.css" rel="stylesheet">
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <link href="inoviceStyles.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- AngularJS Code -->
  <script src="js/app.js"></script>
  <script src="js/auth/controllers.js"></script>
  <script src="js/auth/services.js"></script>
  <script src="js/dashboard/controllers.js"></script>
  <script src="js/dashboard/services.js"></script>
  <script src="js/redirect/controllers.js"></script>
  <script src="js/redirect/services.js"></script>



  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>

<body ng-app="coastlineWebApp">
  <div ng-controller="dashboardCtrl">
    <!--  <div ng-controller="authCtrl">-->

    <div id="wrapper">

      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div>
          <div ng-controller="accountCtrl">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"> <i class="fa fa-anchor"></i> <b>Coastline Market</b></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a href="#"><i class="fa fa-server fa-fw"></i> Settings</a>
              </li>

              <li class="divider"></li>

              <li ng-click="logout()"><a href="javascript:void(0)">Logout</a>
              </li>

            </ul>
            <!-- /.navbar-top-links -->
          </div>
        </div>


        <div>
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                  <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                  <!-- /input-group -->
                </li>

                <li ng-class="getStyle(0)"><a ng-click="setSelection(0)" href="javascript:void(0)"><i class="fa fa-home"></i> Home</a>
                </li>
                <li ng-class="getStyle(1)"><a ng-click="setSelection(1)" href="javascript:void(0)"><i class="fa fa-list-alt"></i> Orders</a>
                </li>
                <li ng-class="getStyle(2)"><a ng-click="setSelection(2)" href="javascript:void(0)"><i class="fa fa-table"></i> Products</a>
                </li>
              </ul>
            </div>
            <!-- /.sidebar-collapse -->
          </div>
        </div>

      </nav>

      <div ng-controller="transactionDetailCtrl" id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>
              Order #{{getRef(order)}}
              <a href="invoiceFull.html"><i class="fa fa-external-link"></i></a>
            </h1>
            <br>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-default height">
              <div class="panel-heading">Customer</div>
              <div class="panel-body">
                <strong>Adress:</strong> 16737 84Ave
                <br>
                <strong>Details:</strong> Delivery
                <br>
                <strong>More:</strong>
                <br>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-default height">
              <div class="panel-heading">Payment Information</div>
              <div class="panel-body">
                <strong>Card Name:</strong> Visa
                <br>
                <strong>Card Number:</strong> ***** 332
                <br>
                <strong>Exp Date:</strong> 09/2020
                <br>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-default height">
              <div class="panel-heading">To: Client Name</div>
              <div class="panel-body">
                <strong>Bank Name:</strong>
                <br>
                <strong>Account Number : --------</strong>
                <br>
                <strong>IBAN : --------</strong>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default height">
              <div class="panel-heading">Bank Details</div>
              <div class="panel-body">
                <strong>Card Name:</strong> Visa
                <br>
                <strong>Card Number:</strong> ***** 332
                <br>
                <strong>Exp Date:</strong> 09/2020
                <br>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default height">
              <div class="panel-heading">Contact Details</div>
              <div class="panel-body">
                <strong>Email:</strong> you@example.com
                <br>
                <strong>Phoe Number:</strong> 134-132-1234
                <br>
                <strong>Payment Method:</strong> VISA
                <br>
              </div>
            </div>
          </div>


        </div>

        <!-- / end client details section -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="text-center">
                  <strong>Order summary</strong>
                </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <td>
                          <strong>Product</strong>
                        </td>
                        <td class="text-center">
                          <strong>Quantity</strong>
                        </td>
                        <td class="text-center">
                          <strong>Unit Price</strong>
                        </td>
                        <td class="text-right">
                          <strong>Total</strong>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in order.products">
                        <td>Atlantic Cod{{product.name}}</td>
                        <td class="text-right">{{product.quantity + " " + product.units}}</td>
                        <td class="text-right">{{product.unitPrice}}/{{product.units}}</td>
                        <td class="text-right">{{product.quantity * product.unitPrice}}</td>
                      </tr>

                      <tr>
                        <td class="highrow"></td>
                        <td class="highrow"></td>
                        <td class="highrow text-center">
                          <strong>Subtotal</strong>
                        </td>
                        <td class="highrow text-right">$0.00</td>
                      </tr>
                      <tr>
                        <td class="emptyrow"></td>
                        <td class="emptyrow"></td>
                        <td class="emptyrow text-center">
                          <strong>Shipping</strong>
                        </td>
                        <td class="emptyrow text-right">$0.00</td>
                      </tr>
                      <tr>
                        <td class="emptyrow"></td>
                        <td class="emptyrow"></td>
                        <td class="emptyrow text-center">
                          <strong>Total</strong>
                        </td>
                        <td class="emptyrow text-right">$0.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="col-xs-6 text-right">
      </div>
      </div>
      <div class="row">
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Customer: <a href="#">{{getName(order)  }}</a></h4>
          </div>
          <div class="panel-body">
            <p>
              Address
              <br> details
              <br> more
              <br>
            </p>
          </div>
        </div>
      </div>

<div>
      <div class="col-xs-5 col-xs-offset-2 text-right">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>To : <a href="#">Client Name</a></h4>
          </div>
          <div class="panel-body">
            <p>
              Address
              <br> details
              <br> more
              <br>
            </p>
          </div>
        </div>
      </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <h4>Product</h4>
              </th>
              <th>
                <h4 class="text-center">Quantity</h4>
              </th>
              <th>
                <h4 class="text-center">Unit Price</h4>
              </th>
              <th>
                <h4 class="text-center">Subtotal</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in order.products">
              <td>Atlantic Cod{{product.name}}</td>
              <td class="text-right">140{{product.quantity + " " + product.units}}</td>
              <td class="text-right">12/lb{{product.unitPrice}}/{{product.units}}</td>
              <td class="text-right">12000{{product.quantity * product.unitPrice}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
                Total:
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
              ${{order.totalAmount}}
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Bank details</h4>
              </div>
              <div class="panel-body">
                <p>Your Name</p>
                <p>Bank Name</p>
                <p>SWIFT : --------</p>
                <p>Account Number : --------</p>
                <p>IBAN : --------</p>
              </div>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="span7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Contact Details</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Email : you@example.com
                    <br>
                    <br> Mobile : --------
                    <br>
                    <br> Twitter : <a href="invoiceFull.html">Invoice Full</a>
                  </p>
                  <h4>Payment should be made by Bank Transfer</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
-->
      </div>

    </div>

  </div>

  </div>


</body>

</html>
